.header__subtitle {
	width: 608px;
	padding-right: 63px;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	margin: 0 auto;
}

@media screen and (max-width: 912px) {
	.header__subtitle {
		width: 452px;
		padding-right: 0;
	}
}

@media screen and (max-width: 484px) {
	.header__subtitle {
		margin-left: 16px;
		margin-right: 16px;
		width: auto;
	}
}
