.search-form__text {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #1A1B22;
    width: 100%;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    outline: none;
    font-size: 16px;
    line-height: 22px;
    padding: 21px 208px 21px 24px;
}

.search-form__text::placeholder {
    color: #B6BCBF;
}

@media screen and (max-width: 912px) {
    .search-form__text {
       height: 56px;
       padding: 17px 196px 17px 24px;
   }
}

@media screen and (max-width: 484px) {
    .search-form__text {
       padding-left: 16px;
       padding-right: 16px;
   }
}

