.element__tag {
	height: 40px;
	position: absolute;
	top: 24px;
	left: 24px;
	background: #FFFFFF;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 1020px) {
	.element__tag {
		top: 8px;
		left: 8px;
	}
}

@media screen and (max-width: 648px) {
	.element__tag {
		top: 16px;
		left: 16px;
	}
}
